


* {
    margin:0;
    padding: 0;
}

body{
    font-family:sans-serif ;
    background-color: rgb(139, 139, 138) ;
    min-width: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;

}

.container{
    max-width: 550px;
    margin: 0 auto;
}

.card{
    background-color: #fff;
    padding: 18px ;
    border-radius: 17px;
    text-align: center;
    margin: 0 1rem;
    margin-top: 100px;
    margin-left: 130px;
}

.card img{
    width: 300px;
    border-radius: 15px;
}
.text{
    padding: 22px 10px;
}

.text h2{
    color: black;
    padding-bottom: 15px;
}

.text{
    color: rgb(139, 139, 138);
}